body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
}
header {
	background-color: dodgerblue;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
}
#contenido {
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: white;
}
#bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.bloques {
    margin-left: 10%;
    margin-right: 10%;
}
#bloqueMediaMark {
    background-color: red;
}
#Mediamark {
    align-items: center;
}
.foto {
	width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
footer {
	background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 10px;
}
#logo {
    float: left;
    border-radius: 50%; 
    width: 50px; 
    height: 50px;
}